@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
}

@theme {
  --color-mid-blue: #4B8EDF;
  --color-small-blue: #85D4FD;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}